.container{
    display: flex;
    gap: 2rem;

    /* flex-direction: row;
    justify-content: start;
    justify-content: center;
    justify-content: end;
    justify-content: center;
    border: 3px solid rebeccapurple;

    flex-wrap: wrap; */

    /* align-items: end; */
    height: 90vh;
}



.box{
    width: 300px;
    padding: 12px;
    height: 200px;

    flex-grow: 1;
}

.box1{
    background-color: gold;
}


.box2{
    background-color: aquamarine;
    flex-grow: 2;
}

.box3{
    background-color: tomato;
}



.box:nth-of-type(1){
    order: 2;
}
.box:nth-of-type(2){
    order: 1;
}
.box:nth-of-type(3){
    order: 3;
}